// {
//   "env": {
//     "development": {
//       "presets": ["next/babel"],
//       "plugins": ["@emotion"]
//     },
//     "production": {
//       "presets": ["next/babel"],
//       "plugins": ["@emotion"]
//     },
//     "test": {
//       "presets": ["env", "react"],
//       "plugins": ["@emotion"]
//     }
//   }
// }
{
  "presets": ["next/babel"],
  "plugins": []
}
